
/*header*/
.logoName{
  /*font-family: 'Schoolbell', cursive;*/
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  color: #660000;
  margin-left: 20px;
}

/*top navbar*/
.nav-item{
text-align: right;
overflow: scroll;
float: right;
}

/*end of header//////////////////////////*/

/*top parallax-window*/
.parallax-window {
    min-height: 700px;
    background: transparent;
}


/*slogan inside the parallax-window*/
.inspired{
  color: white;
  font-family: 'Satisfy', cursive;
  /*text-align: center;*/
  font-size: 50px;
}

/*about us content*/
.containerAbout{
  margin: 50px;
  text-align: center;
  /*background-color: #BDBBB0;*/
}

#aboutUs{
  font-family: 'Satisfy', cursive;
  font-size: 40px;

}

.middleContent{
  font-family: 'Sarala', sans-serif;
  font-size: 15px;
}

.theTeam, .jack{
  text-align: center;
  color: #660000;
  font-family: 'Satisfy', cursive;

}

#jack{
  height: 300px;
  width: auto;
}

/*end of about us content/////////////////*/



/*login page/////////////////////////////*/



 .field{
  /*width: 300px;*/
  color: green;
  font-size: 17px;
  /*background-color: blue;*/
}



#password, #username{
  font-size: 50px;
  background-color: red;
}
